
* {
	margin: 0;
	padding:0;
	font-famliy: 'Roboto', sans-serif;
	box-sizing: border-box;

	
 }
 header {
 background-color:grey;
 position: sticky;
 text-align:center;
  }
  
html,body {
	height: 100%;
}  
#seite {
	position: relative;
	min-height: 100%;
	margin: 0 auto;
	background-color: lightgreen;
	font-size: 30px;
	padding-bottom: 2em;
}
  
.paragraph {
	font-family:arial;
	background-color: red;
	text-align:center;
	}
/*um besuchte Links gruen zu faerben*/	
a:visited {
	color: green;
}
/*um Links orange zu faerben, wenn die Maus darueber schwebt*/
a:hover {
	color: orange;
}

img {
     width: 300px;
 }
 